<aside class="AdminAside">
  <div class="TopButtonsContainer">
    <button class="ChangeWidth" type="button">Abrir</button>
    <button
      class="ButtonChangeTheme"
      id="ButtonChangeTheme"
      type="button"
    ></button>
  </div>

  <nav class="AdminAsideMenu">
    <ul>
      <li>
        <a href="#">Registrar nueva propiedad</a>
      </li>
      <li>
        <a href="#">Nuevo fraccionamiento</a>
      </li>
    </ul>
  </nav>
</aside>
