<section class="AdminHeader">
  <div class="LogoContainer">
    <div class="LogoProvisional"></div>
    <p class="TextDate">
      <%- new Intl.DateTimeFormat("es-MX", { dateStyle: "medium", }).format(new
      Date()) %>
    </p>
  </div>
  <nav class="AdminNav">
    <ul>
      <li class="ListItem">
        <a href="#">Vista general</a>
      </li>
      <li class="ListItem">
        <a href="#">Fraccionamientos</a>
      </li>
      <li class="ListItem">
        <a href="#">Propiedades</a>
      </li>
    </ul>
  </nav>
</section>
