<footer>
  <a
    class="logo-container"
    href="/"
    aria-label="Logotipo de Vasques Inmobiliaria"
  >
    <img
      src="https://res.cloudinary.com/duibtuerj/image/upload/v1631812830/vasquez-inmobiliaria/brand/Logo_okzkag.png"
      alt="Logotipo de Vasques Inmobiliaria"
    />
  </a>

  <nav class="contact-menu">
    <h4>Puede comunicarse</h4>
    <ul>
      <li>
        <a href="#">Tel. (01228) 8-40-19-19</a>
      </li>
      <li>
        <p>Horario de oficina:</p>
      </li>
      <li><p>Lunes a viernes 8:00 - 20:00</p></li>
      <li><p>sabados de 8:00-15:00.</p></li>
      <li>
        <p>Lázaro Cárdenas No. 274, Col. Encinal Xalapa, Ver. C.P. 91110.</p>
      </li>
    </ul>
  </nav>

  <nav class="menu">
    <ul>
      <li>
        <a href="/casas">Encuentra tu propiedad</a>
      </li>
      <li>
        <a href="#">Nosotros</a>
      </li>
      <li>
        <a href="#">Contáctanos</a>
      </li>
    </ul>
  </nav>

  <div class="links">
    <a href="#">Ayuda y asistencia</a>
    -
    <a href="#">Términos y condiciones</a>
    <br />
    <a href="#">Política de privacióad</a>
  </div>
</footer>
