<header>
  <h1><%- title %></h1>
  <a href="/" aria-label="Logotipo de Vasques Inmobiliaria">
    <img
      src="https://res.cloudinary.com/duibtuerj/image/upload/v1631812830/vasquez-inmobiliaria/brand/Logo_okzkag.png"
      alt="Logotipo de Vasques Inmobiliaria"
    />
  </a>
  <button type="button" class="open-button" id="open-button"></button>
  <nav id="menu-nav">
    <ul>
      <li>
        <a href="/casas">Encuentra tu propiedad</a>
      </li>
      <li>
        <a href="#">Nosotros</a>
      </li>
      <li>
        <a href="#">Contáctanos</a>
      </li>
    </ul>
    <div class="soccial-container">
      <div class="top-line line"></div>
      <div class="soccial-icons-container">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </div>
      <div class="bottom-line line"></div>
    </div>
  </nav>
</header>
