<header>
  <h1><%- title %></h1>
  <a href="/" aria-label="Logotipo de Vasques Inmobiliaria">
    <img
      src="https://res.cloudinary.com/duibtuerj/image/upload/v1631812830/vasquez-inmobiliaria/brand/Logo_okzkag.png"
      alt="Logotipo de Vasques Inmobiliaria"
    />
  </a>
  <nav>
    <ul>
      <li>
        <a href="/casas">Encuentra tu propiedad</a>
      </li>
      <li>
        <a href="#">Nosotros</a>
      </li>
      <li>
        <a href="#">Contáctanos</a>
      </li>
    </ul>
  </nav>
</header>
