<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %> <%- body %> <%-
    include('../partials/footer.ejs') %>
  </body>
  <script src="js/main.js"></script>
</html>
