<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/inicio.css" />
  </head>

  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <section class="cover">
        <div class="soccial-container">
          <div class="top-line line"></div>
          <div class="soccial-icons-container">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="bottom-line line"></div>
        </div>
        <div class="info">
          <h2>El mejor momento para invertir en tu inmueble</h2>
          <p>¿Qué tipo de inmueble estás buscando?</p>
        </div>
        <div class="actions">
          <div class="buttons-container">
            <button type="button" class="houses-button" id="houses-button">
              <p>Casas</p>
            </button>
            <button
              type="button"
              class="apartments-button"
              id="apartments-button"
            >
              <p>Departamentos</p>
            </button>
          </div>
          <div class="select-container">
            <select
              name="subdivisions-select"
              class="subdivisions-select"
              id="subdivisions-select"
            >
              <option value="Nuestros fraccionamientos">
                Nuestros fraccionamientos
              </option>
            </select>
          </div>
          <button type="button" class="search-button" id="search-button">
            Buscar
          </button>
        </div>
        <div class="init-search-container">
          <a href="#">Iniciar Búsqueda Flexible</a>
        </div>
        <div class="filter"></div>
        <img
          src="https://res.cloudinary.com/duibtuerj/image/upload/v1636576253/vasquez-inmobiliaria/brand/interior-home-design-in-living-room-with-open-kitchen-in-the-loft-house_1_b3yly5.jpg"
          alt="Fotografía de portada"
        />
      </section>
      <section class="main-section new-properties-container">
        <h2>Nuevas propiedades</h2>
        <section class="houses-container" id="houses-container"></section>
      </section>
      <section class="main-section we">
        <h2>¿Porqué confiar en nosotros?</h2>
        <div class="we-items-container" id="we-items-container"></div>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
  <script src="js/inicio.js"></script>
  <script src="js/main.js"></script>
</html>
